# Estimating Labor Market Returns to Education

In this exercise, we're going to use data from the [American Communities Survey (ACS)](https://usa.ipums.org/usa/acs.shtml) to study the relationship betwen educational attainment and wages. The ACS is a survey conducted by the United States Census Bureau (though it is not "The Census," which is a counting of every person in the United States that takes place every 10 years) to measure numerous features of the US population. The data we will be working with includes about 100 variables from the 2017 ACS survey, and is a 10% sample of the ACS (which itself is a 1% sample of the US population, so we're working with about a 0.1% sample of the United States). 

This data comes from [IPUMS](https://usa.ipums.org/usa/), which provides a very useful tool for getting subsets of major survey datasets, not just from the US, but [from government statistical agencies the world over](https://international.ipums.org/international-action/sample_details).

This is *real* data, meaning that you are being provided the data as it is provided by IPUMS. Documentation for all variables used in this data can be found [here](https://usa.ipums.org/usa-action/variables/group) (you can either search by variable name to figure out the meaning of a variable in this data, or search for something you want to see if a variable with the right name is in this data). 

Within this data is information on both the educational background and current earnings of a representative sample of Americans. We will now use this data to estimate the labor-market returns to graduating high school and college, and to learn something about the meaning of an educational degree.

## Gradescope Autograding

Please follow [all standard guidance](https://www.practicaldatascience.org/ids720_specific/autograder_guidelines.html) for submitting this assignment to the Gradescope autograder, including storing your solutions in a dictionary called `results` and ensuring your notebook runs from the start to completion without any errors.

For this assignment, please name your file `exercise_dataframes.ipynb` before uploading.

You can check that you have answers for all questions in your `results` dictionary with this code:

```python
assert set(results.keys()) == {
    "ex2_num_obs",
    "ex3_num_vars",
    "ex8_updated_num_obs",
    "ex9_updated_num_obs",
    "ex11_grade12_income",
    "ex12_college_income",
    "ex12_college_income_pct",
    "ex14_high_school_dropout",
    "ex15_grade_9",
    "ex15_grade_10",
    "ex15_grade_11",
    "ex15_grade_12",
    "ex15_4_years_of_college",
    "ex15_graduate",
}
```

### Submission Limits

Please remember that you are **only allowed three submissions to the autograder.** Your last submission (if you submit 3 or fewer times), or your third submission (if you submit more than 3 times) will determine your grade Submissions that error out will **not** count against this total.

## Exercises

### Exercise 1

Data for these [exercises can be found here](https://github.com/nickeubank/MIDS_Data/tree/master/US_AmericanCommunitySurvey). 

Import `US_ACS_2017_10pct_sample.dta` into a pandas DataFrame (read it directly from a URL to help the autograder, please). 

This can be done with the command `pd.read_stata`, which will read in files created in the program Stata (and which uses the file suffix `.dta`). This is a format commonly used by social scientists.

In [1]:
import pandas as pd
import numpy as np

url = "https://github.com/nickeubank/MIDS_Data/raw/refs/heads/master/US_AmericanCommunitySurvey/US_ACS_2017_10pct_sample.dta"
labor_data = pd.read_stata(url)
labor_data

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318999,2017,1,734396,2.017001e+12,4,78,100,married-couple family household,2.017007e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319000,2017,1,586263,2.017001e+12,4,57,77,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
319001,2017,1,510444,2.017001e+12,2,43,152,"female householder, no husband present",2.017005e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319002,2017,1,1220474,2.017001e+12,4,16,148,married-couple family household,2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
319003,2017,1,219435,2.017000e+12,2,17,47,married-couple family household,2.017002e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no

## Getting to Know Your Data

When you get a new dataset like this, it's good to start by trying to get a feel for its contents and organization. Toy datasets you sometimes get in classes are often very small, and easy to look at, but this is a pretty large dataset, so you can't just open it up and get a good sense of it. Here are some ways to get to know your data.

In [2]:
labor_data.head()

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,...,0,not in identifiable area,n/a,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no

In [3]:
labor_data.describe()

,datanum,serial,cbserial,hhwt,cluster,adjust,cpi99,countyicp,countyfip,citypop,...,incbus00,incss,incwelfr,incinvst,incretir,incsupp,incother,incearn,poverty,migcounty1
count,319004.0,3.190040e+05,3.190040e+05,319004.000000,3.190040e+05,3.190040e+05,3.190040e+05,319004.000000,319004.000000,319004.000000,...,319004.000000,319004.000000,319004.000000,319004.000000,319004.000000,319004.000000,319004.000000,3.190040e+05,319004.000000,319004.000000
mean,1.0,6.914651e+05,2.017001e+12,96.289485,2.017007e+12,1.011189e+00,6.790000e-01,509.841883,51.005498,3007.872444,...,170604.745455,19676.936556,16924.845391,171012.018680,171275.272777,17123.299705,17449.639255,2.603776e+04,308.561118,7.082764
std,0.0,4.064733e+05,4.228671e+05,76.135051,4.064733e+06,6.372690e-13,2.073678e-12,879.679757,87.962249,13560.256097,...,374293.330316,36778.739733,37462.032589,374218.557415,373839.596489,37403.924434,37455.599483,5.316218e+04,173.095719,38.491200
min,1.0,3.000000e+00,2.017000e+12,1.000000,2.017000e+12,1.011189e+00,6.790000e-01,0.000000,0.000000,0.000000,...,-9000.000000,0.000000,0.000000,-4800.000000,0.000000,0.000000,0.000000,-9.000000e+03,0.000000,0.000000
25%,1.0,3.340285e+05,2.017000e+12,51.000000,2.017003e+12,1.011189e+00,6.790000e-01,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,158.000000,0.000000
50%,1.0,6.924360e+05,2.017001e+12,76.000000,2.017007e+12,1.011189e+00,6.790000e-01,190.000000,19.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.200000e+03,322.000000,0.000000
75%,1.0,1.047283e+06,2.017001e+12,117.000000,2.017010e+12,1.011189e+00,6.790000e-01,730.000000,73.000000,0.000000,...,0.000000,15000.000000,0.000000,400.000000,4800.000000,0.000000,0.000000,3.510000e+04,501.000000,0.000000
max,1.0,1.394396e+06,2.017002e+12,2401.000000,2.017014e+12,1.011189e+00,6.790000e-01,8100.000000,810.000000,86227.000000,...,999999.000000,99999.000000,99999.000000,999999.000000,999999.000000,99999.000000,99999.000000,1.049000e+06,501.000000,810.000000

### Exercise 2

How many observations are in your data? Store the answer in your `results` dictionary with the key `"ex2_num_obs"`.

In [4]:
results = {}
obs = len(labor_data)

results["ex2_num_obs"] = obs

print(f"Our number of observations are: {obs:,}")

Our number of observations are: 319,004

### Exercise 3

How many variables are in your data? Store the answer in your `results` dictionary with the key `"ex3_num_vars"`.

In [5]:
col = len(labor_data.columns)

results["ex3_num_vars"] = col

print(f"The data has {col} variables")

The data has 104 variables

### Exercise 4

 Let's see what variables are in this dataset. First, try to see them all using the command:


```python
acs.columns
```

In [6]:
for c in labor_data.columns:
    print(c)

year
datanum
serial
cbserial
numprec
subsamp
hhwt
hhtype
cluster
adjust
cpi99
region
stateicp
statefip
countyicp
countyfip
metro
city
citypop
strata
gq
farm
ownershp
ownershpd
mortgage
mortgag2
mortamt1
mortamt2
respmode
pernum
cbpernum
perwt
slwt
famunit
sex
age
marst
birthyr
race
raced
hispan
hispand
bpl
bpld
citizen
yrnatur
yrimmig
language
languaged
speakeng
hcovany
hcovpriv
hinsemp
hinspur
hinstri
hcovpub
hinscaid
hinscare
hinsva
hinsihs
school
educ
educd
gradeatt
gradeattd
schltype
degfield
degfieldd
degfield2
degfield2d
empstat
empstatd
labforce
occ
ind
classwkr
classwkrd
looking
availble
inctot
ftotinc
incwage
incbus00
incss
incwelfr
incinvst
incretir
incsupp
incother
incearn
poverty
migrate1
migrate1d
migplac1
migcounty1
migmet131
vetdisab
diffrem
diffphys
diffmob
diffcare
diffsens
diffeye
diffhear

As you will see, `python` doesn't like to print out all the different variables when there are this many in a dataset. 

To get everything printed out, we can loop over all the columns and print them one at a time with the command:

```
for c in acs.columns: print(c)
```

It's definitely a bit of a hack, but honestly a pretty useful one!

### Exercise 5

That's a *lot* of variables, and definitely more than we need. In general, life is easier when working with these kinds of huge datasets if you can narrow down the number of variables a little. In this exercise, we will be looking at the relationship between education and wages, we need variables for: 

- Age
- Income
- Education
- Employment status (is the person actually working)

These quantities of interest correspond to the following variables in our data: `age`, `inctot`, `educ`, and `empstat`. 

Subset your data to just those variables.

In [7]:
subset = labor_data[["age", "inctot", "educ", "empstat"]]
subset

       age   inctot                       educ             empstat
0        4  9999999  nursery school to grade 4                 n/a
1       17     6000                   grade 11            employed
2       63     6150         4 years of college            employed
3       66    14000                   grade 12  not in labor force
4        1  9999999        n/a or no schooling                 n/a
...     ..      ...                        ...                 ...
318999  33    22130         4 years of college            employed
319000   4  9999999  nursery school to grade 4                 n/a
319001  20     5000                   grade 12            employed
319002  47   240000        5+ years of college            employed
319003  33    48000        5+ years of college            employed

[319004 rows x 4 columns]

### Exercise 6 

Now that we have a more manageable number of variables, it's often very useful to look at a handful of rows of your data. The easiest way to do this is probably the `.head()` method (which will show you the first five rows), or the `tail()` method, which will show you the last five rows. 

But to get a good sense of your data, it's often better to use the `sample()` command, which returns a random set of rows. As the first and last rows are sometimes not representative, a random set of rows can be very helpful. Try looking at a random sample of 20 rows (note: you don't have to run `.sample()` ten times to get ten rows. Look at the `.sample` help file if you're stuck.

In [8]:
subset.sample(20)

       age   inctot                       educ             empstat
66337   57    26200                   grade 12  not in labor force
164526  56    29000          1 year of college            employed
260770  56    31400                   grade 12  not in labor force
99642   27    20000         4 years of college            employed
126739  37    24000         4 years of college            employed
154864  26    27000                   grade 12            employed
161014  31    23300                   grade 12  not in labor force
99652   54    60000          1 year of college            employed
157561  25    15000                   grade 11            employed
178006   3  9999999  nursery school to grade 4                 n/a
250017   5  9999999  nursery school to grade 4                 n/a
22766   28    55000         4 years of college            employed
292844  12  9999999        grade 5, 6, 7, or 8                 n/a
2376    20    14400                   grade 12            employed
240605  30    55000         4 years of college            employed
12716    1  9999999        n/a or no schooling                 n/a
188950  42    65000                   grade 12            employed
150184  79    29200         2 years of college  not in labor force
226039  62    14000                   grade 12            employed
188254  17        0                   grade 12  not in labor force

### Exercise 7

Do you see any immediate problems? What issues do you see? (Please do answer in markdown)

Ans: The data is messy and has suspiciously large entries.

### Exercise 8 

One problem is that many people seem to have incomes of $9,999,999. Moreover, people with those incomes seem to be very young children. 

What you are seeing is one method (a relatively old one) for representing missing data. In this case, the value 9999999 is being used as a **sentinel value** — a way to denote missing data that was used back in the day when there was no way to add a special data type for mossing data. In this case, it identifies observations where the person is too young to work, so their income value is missing. 

So let's begin by dropping anyone who has `inctot` equal to 9999999.

After dropping, how many observations do you have? Save your answer in your `results` dictionary under the key `"ex8_updated_num_obs"`

In [9]:
labor_data_drop = labor_data[labor_data["inctot"] != 9999999]

In [10]:
labor_data_drop["inctot"]

1           6000
2           6150
3          14000
5          50000
6          27100
           ...
318998         0
318999     22130
319001      5000
319002    240000
319003     48000
Name: inctot, Length: 265103, dtype: int32

### Exercise 9

OK, the other potential problem is that our data includes lots of people who are unemployed and people who are not in the labor force (this means they not only don't have a job, but also aren't looking for a job). For this analysis, we want to focus on the wages of people who are currently employed. So subset the dataset for the people for whom `empstat` is equal to "employed". 

Note that our decision to only look at people who are employed impacts how we should interpret the relationship we estimate between education and income. Because we are only looking at employed people, we will be estimating the relationship between education and income *for people who are employed*. That means that if education affects the *likelihood* someone is employed, we won't capture that in this analysis.

(You might also want to run `.sample()` after this just to make sure you were successful in your subsetting).

After this subsetting, how many observations do you have? Save your answer in your `results` dictionary under the key `"ex9_updated_num_obs"`

In [18]:
em_sub = labor_data[labor_data["empstat"] == "employed"]
em_sub.sample(10)

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
278792,2017,1,404111,2.017001e+12,12,87,87,married-couple family household,2.017004e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
306405,2017,1,275490,2.017000e+12,3,96,61,"female householder, no husband present",2.017003e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
202256,2017,1,459125,2.017001e+12,7,7,129,hhtype could not be determined,2.017005e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
316794,2017,1,1058799,2.017000e+12,4,13,74,married-couple family household,2.017011e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
167507,2017,1,730009,2.017001e+12,1 person record,94,25,"male householder, living alone",2.017007e+12,1.011189,...,0,"springfield, mo",n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
212784,2017,1,1140723,2.017000e+12,3,24,35,married-couple family household,2.017011e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
125535,2017,1,1118980,2.017001e+12,1 person record,97,148,"female householder, living alone",2.017011e+12,1.011189,...,59,"los angeles-long beach-anaheim, ca",n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
45948,2017,1,1275085,2.017000e+12,2,11,78,"male householder, not living alone",2.017013e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
101160,2017,1,1222325,2.017001e+12,3,7,104,"female householder, no husband present",2.017012e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
148347,2017,1,747200,2.017000e+12,1 person record,68,49,"female householder, living alone",2.017007e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no

In [28]:
b = len(em_sub)

results["ex9_updated_num_obs"] = b

print(f"The number of people who are employed are {b:,}")

The number of people who are employed are 148,758

### Exercise 10

Now let's turn to education. The `educ` variable seems to have a lot of discrete values. Let's see what values exist, and their distribution, using the `value_counts()` method. This is an *extremely* useful tool you'll use a lot! Try the following code (modified for the name of your dataset, of course):

```python
acs["educ"].value_counts()
```

In [27]:
labor_data["educ"].value_counts()

educ
grade 12                     93133
4 years of college           47212
1 year of college            38779
5+ years of college          29801
nursery school to grade 4    24514
grade 5, 6, 7, or 8          21535
2 years of college           20757
n/a or no schooling          19562
grade 11                      8758
grade 10                      7818
grade 9                       7135
Name: count, dtype: int64

### Exercise 11

There are a lot of values in here, so let's just check a couple. What is the average value of `inctot` for people whose highest grade level is "grade 12" (in the US, that is someone who has graduated high school)?

Save your answer in your `results` dictionary under the key `"ex11_grade12_income"`.

In [55]:
ed = labor_data[labor_data["educ"] == "grade 12"]["inctot"].mean()

results["ex11_grade12_income"] = ed
print(f"The average income earned by people who studied till 12th grade is ${ed:,.3f}")

The average income earned by people who studied till 12th grade is $27,787.480

### Exercise 12

What is the average income of someone who has completed an undergraduate degree but not done any postgraduate education ("4 years of college")? 

Save your answer in your `results` dictionary under the key `"ex12_college_income"`.

In percentage terms, how much does an employed college graduate earn as compared to someone who is only a high school graduate? Use the reference category that gives an answer above 100.

Store your answer in `"ex12_college_income_pct"`. Put your answer in percentage terms (so 100 implies they earn the same amount).

*Make sure to interpret your result in words when you print it out!*

In [40]:
ud = labor_data[labor_data["educ"] == "4 years of college"]["inctot"].mean()
ud

# need to find the percentage

# results["ex12_college_income_pct"] =
# print(f"")

np.float64(62701.463356773704)


### Exercise 13
What does that suggest is the value of getting a college degree after graduating high school?

Ans:

### Exercise 14

What is the average income for someone who has not finished high school? What does that suggest is the value of a high school diploma? (Treat `n/a or no schooling` as having no formal schooling, not as missing).

**Hint:** You may find the [.isin()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) method to be really helpful here.

Save your answer in your `results` dictionary under the key `"ex14_high_school_dropout"`.

In [56]:
# not sure if this is the right way to do this

ex_14 = labor_data[
    labor_data["educ"].isin(
        [
            "nursery school to grade 4",
            "n/a or no schooling",
            "grade 5, 6, 7, or 8",
            "grade 9",
            "grade 10",
            "grade 11",
        ]
    )
]["inctot"].mean()

ex_14

results["ex14_high_school_dropout"] = ex_14

print(f"The average income of a high school dropout is ${ex_14:,.3f}")

The average income of a high school dropout is $6,039,220.137

### Exercise 15 

Complete the following table (storing values under the provided keys where listed):

- Average income for someone who only completed 9th grade (`ex15_grade_9`): _________
- Average income for someone who only completed 10th grade (`ex15_grade_10`): _________
- Average income for someone who only completed 11th grade (`ex15_grade_11`): _________
- Average income for someone who finished high school (12th grade) but never started college (`ex15_grade_12`): _________
- Average income for someone who completed 4 year of college (in the US, this corresponds to getting an undergraduate degree), but has no post-graduate education (no more than 4 years, `ex15_4_years_of_college`): _________
- Average income for someone who has some graduate education (more than 4 years, `ex15_graduate`): _________

In [57]:
ex_15_9 = labor_data[labor_data["educ"] == "grade 9"]["inctot"].mean()
ex_15_10 = labor_data[labor_data["educ"] == "grade 10"]["inctot"].mean()
ex_15_11 = labor_data[labor_data["educ"] == "grade 11"]["inctot"].mean()
# ex_15_0 = labor_data[labor_data["educ"] == "grade 12"]["inctot"].mean()
# ex_15_1 = labor_data[labor_data["educ"] == "4 years of college"]["inctot"].mean()
# ex_15_2 = labor_data[labor_data["educ"] == "5+ years of college"]["inctot"].mean()

### Exercise 16 

Why do you think there is no benefit from moving from grade 9 to grade 10, or grade 10 to grade 11, but there is a huge benefit to moving from grade 11 to graduating high school (grade 12)?

(Think carefully before reading ahead!)

Ans:

## Take-aways

Congratulations! You just discovered "the sheepskin effect!": people with degrees tend to earn substantially more than people who have *almost* as much education, but don't have an actual degree. 

In economics, this is viewed as evidence that the reason employers pay people with high school degrees more than those without degree is *not* that they think those who graduated high school have learned specific, useful skills. If that were the case, we would expect employee earnings to rise with every year of high school, since in each year of high school we learn more. 

Instead, this suggests employees pay high school graduates more because they think *the kind of people* who can finish high school are the *kind of people* who are likely to succeed at their jobs. Finishing high school, in other words, isn't about accumulating specific knowledge; it's about showing that you *are the kind of person* who can rise to the challenge of finishing high school, also suggesting you are also the kind of person who can succeed as an employee. 

(Obviously, this does not tell us whether that is an *accurate* inference, just that that seems to be how employeers think.) 

In other words, in the eyes of employers, a high school degree is a *signal* about the kind of person you are, not certification that you've learned a specific set of skills (an idea that earned [Michael Spence](https://en.wikipedia.org/wiki/Michael_Spence) a Nobel Prize in Economics).